$icomoon-font-family: "coem-admin-icons" !default;
$icomoon-font-path: "fonts" !default;

$coem-admin-icon-Alert: "\e900";
$coem-admin-icon-Align--Center: "\e901";
$coem-admin-icon-Align-Justify: "\e902";
$coem-admin-icon-Align-Left: "\e903";
$coem-admin-icon-Align-Right: "\e904";
$coem-admin-icon-Archive: "\e905";
$coem-admin-icon-Arrow-Down-1: "\e906";
$coem-admin-icon-Arrow-Down-2: "\e907";
$coem-admin-icon-Arrow-Left: "\e908";
$coem-admin-icon-Arrow-Right-1: "\e909";
$coem-admin-icon-Arrow-Right-2: "\e90a";
$coem-admin-icon-Attachment: "\e90b";
$coem-admin-icon-Attachment-1: "\e90c";
$coem-admin-icon-Bell: "\e90d";
$coem-admin-icon-Bell--Notification-path1: "\e90e";
$coem-admin-icon-Bell--Notification-path2: "\e90f";
$coem-admin-icon-Bold: "\e910";
$coem-admin-icon-Calendar: "\e911";
$coem-admin-icon-Camera: "\e912";
$coem-admin-icon-Cart: "\e913";
$coem-admin-icon-Chart: "\e914";
$coem-admin-icon-Chat: "\e915";
$coem-admin-icon-Chat--Notification-path1: "\e916";
$coem-admin-icon-Chat--Notification-path2: "\e917";
$coem-admin-icon-Check: "\e918";
$coem-admin-icon-Check-Square: "\e919";
$coem-admin-icon-Coffee: "\e91a";
$coem-admin-icon-Contacts: "\e91b";
$coem-admin-icon-Copy: "\e91c";
$coem-admin-icon-Cross: "\e91d";
$coem-admin-icon-CSV: "\e91e";
$coem-admin-icon-Delete: "\e91f";
$coem-admin-icon-Discount: "\e920";
$coem-admin-icon-Dollar: "\e921";
$coem-admin-icon-Dollar-Fill: "\e922";
$coem-admin-icon-Download: "\e923";
$coem-admin-icon-Drag: "\e924";
$coem-admin-icon-Edit: "\e925";
$coem-admin-icon-Excel: "\e926";
$coem-admin-icon-Facebook: "\e927";
$coem-admin-icon-Filter: "\e928";
$coem-admin-icon-Filter-2: "\e929";
$coem-admin-icon-Flag: "\e92a";
$coem-admin-icon-Folder: "\e92b";
$coem-admin-icon-Folder-Fill: "\e92c";
$coem-admin-icon-Folder-Move: "\e92d";
$coem-admin-icon-Font: "\e92e";
$coem-admin-icon-Grid: "\e92f";
$coem-admin-icon-Hide: "\e930";
$coem-admin-icon-Image: "\e931";
$coem-admin-icon-Important: "\e932";
$coem-admin-icon-Important-Fill: "\e933";
$coem-admin-icon-Inbox: "\e934";
$coem-admin-icon-Instagram: "\e935";
$coem-admin-icon-Italic: "\e936";
$coem-admin-icon-Like: "\e937";
$coem-admin-icon-Like-Fill: "\e938";
$coem-admin-icon-Link: "\e939";
$coem-admin-icon-List: "\e93a";
$coem-admin-icon-List-2: "\e93b";
$coem-admin-icon-Lock: "\e93c";
$coem-admin-icon-Logout: "\e93d";
$coem-admin-icon-Mail: "\e93e";
$coem-admin-icon-Map: "\e93f";
$coem-admin-icon-Menu: "\e940";
$coem-admin-icon-Minus: "\e941";
$coem-admin-icon-More: "\e942";
$coem-admin-icon-Move: "\e943";
$coem-admin-icon-Music: "\e944";
$coem-admin-icon-Notebook: "\e945";
$coem-admin-icon-Numbered-List: "\e946";
$coem-admin-icon-Pantone: "\e947";
$coem-admin-icon-PDF: "\e948";
$coem-admin-icon-Phone: "\e949";
$coem-admin-icon-Pin: "\e94a";
$coem-admin-icon-Plus: "\e94b";
$coem-admin-icon-Printer: "\e94c";
$coem-admin-icon-Project: "\e94d";
$coem-admin-icon-Pushpin: "\e94e";
$coem-admin-icon-Read-Mail: "\e94f";
$coem-admin-icon-Reply: "\e950";
$coem-admin-icon-Reply-All: "\e951";
$coem-admin-icon-Search: "\e952";
$coem-admin-icon-Send: "\e953";
$coem-admin-icon-Send-Fill: "\e954";
$coem-admin-icon-Settings: "\e955";
$coem-admin-icon-Share: "\e956";
$coem-admin-icon-Shopping: "\e957";
$coem-admin-icon-Show: "\e958";
$coem-admin-icon-Smartphone: "\e959";
$coem-admin-icon-Smile: "\e95a";
$coem-admin-icon-Sort: "\e95b";
$coem-admin-icon-Sport: "\e95c";
$coem-admin-icon-Square: "\e95d";
$coem-admin-icon-Star: "\e95e";
$coem-admin-icon-Star-Fill: "\e95f";
$coem-admin-icon-Sun: "\e960";
$coem-admin-icon-Tag: "\e961";
$coem-admin-icon-Tasks: "\e962";
$coem-admin-icon-Text: "\e963";
$coem-admin-icon-Time: "\e964";
$coem-admin-icon-Travel: "\e965";
$coem-admin-icon-Twitter: "\e966";
$coem-admin-icon-Underline: "\e967";
$coem-admin-icon-Update: "\e968";
$coem-admin-icon-Upload: "\e969";
$coem-admin-icon-Upload-Cloud: "\e96a";
$coem-admin-icon-User: "\e96b";
$coem-admin-icon-User-Add: "\e96c";
$coem-admin-icon-User-Fill: "\e96d";
$coem-admin-icon-Zap: "\e96e";

